<!doctype html>

<html>
<style>    
    form {
        margin: auto;
        width: 40%;
        border: 3px solid #4287f5;
    }
    
    .prediction {
        margin: auto;
        width: 70%;
        border: 3px solid #eb3d34;
    }
</style>
    
    
<head>
<title>Group 22 Demonstration - Biome Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Parameters:</legend>
        Latitude:
        <input name="latitude" type="number" min="-90" max="90" required>
        <br>
        Longitude:
        <input name="longitude" type="number" min="-180" max="180" required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="prediction" align="center">
    {% if prediction %}
        {% for param, val in input_parameters.items() %}
            <b>{{ param }}</b> : {{ val }}
        {% endfor %}
        <br>
        <br> I think this biome is:
            <p style="font-size:70px">{{ prediction }}</p>
    {% endif %}
</div>

</html>